@using Sandbox;
@using Sandbox.UI;
@using Sandbox.UI.Construct; 
@using System;
@namespace HLS2

<root class="bottom-right">  
	
	@if ((Game.LocalPawn is Player ply) && ply.Inventory.ActiveChild is Weapon wpn && wpn.PrimaryAmmoType != AmmoType.None) {
		<label class="ammocount">@wpn.PrimaryAmmo</label>

		<IconPanel class="seperator"></IconPanel>
		<label class="inventory">@ply.Ammo.AmmoCount(wpn.PrimaryAmmoType)</label>
		<IconPanel @ref=AmmoIcon1 class="ammoicon1"></IconPanel>

		@if (wpn.SecondaryAmmoType != AmmoType.None && wpn.SecondaryAmmo > 0) {
			<label class="altammocount">@wpn.SecondaryAmmo</label>
			<IconPanel @ref=AmmoIcon2 class="ammoicon2"></IconPanel>
		}

	}  
</root> 

@code {
	public IconPanel AmmoIcon1;
	public IconPanel AmmoIcon2;

	public override void Tick()
	{
		if ((Game.LocalPawn is Player ply) && ply.Inventory.ActiveChild is Weapon wpn && wpn.PrimaryAmmoType != AmmoType.None)
		{
			AmmoIcon1.Style.BackgroundImage = Texture.Load(FileSystem.Mounted, wpn.AmmoIcon, true);
			if (wpn.SecondaryAmmoType != AmmoType.None && wpn.SecondaryAmmo > 0)
				AmmoIcon2.Style.BackgroundImage = Texture.Load(FileSystem.Mounted, wpn.AltAmmoIcon, true);
		}
	}

	protected override int BuildHash()
	{
		var ammo1 = 0;
		var ammo1stash = 0;
		var ammo2 = 0;
		var ammo2stash = 0;
		if ((Game.LocalPawn is Player ply) && ply.Inventory.ActiveChild is Weapon wpn ) {
			ammo1 = wpn.PrimaryAmmo;
			ammo1stash = ply.Ammo.AmmoCount(wpn.PrimaryAmmoType);
			ammo2 = wpn.SecondaryAmmo;
			ammo2stash = ply.Ammo.AmmoCount(wpn.SecondaryAmmoType);
		}
		return HashCode.Combine((Game.LocalPawn as Player).Inventory.ActiveChild, ammo1, ammo1stash, ammo2, ammo2stash);
	}
}