@using Sandbox;
@using Sandbox.UI;
@using Sandbox.UI.Construct; 
@using System;
@namespace HLS2
@attribute [StyleSheet("/resource/hud.scss")]

<root class="bottom-right">  
	
	@if ((Game.LocalPawn is Player ply) && ply.Inventory.ActiveChild is Weapon wpn && wpn.PrimaryAmmoType != AmmoType.None ) {
		<label class="ammocount">@wpn.PrimaryAmmo</label>

		<IconPanel class="seperator"></IconPanel>
		<label class="inventory">@ply.Ammo.AmmoCount(wpn.PrimaryAmmoType)</label>
		<IconPanel class="ammoicon1"></IconPanel>

		@if (wpn.SecondaryAmmoType != AmmoType.None) {
			<label class="altammocount">@wpn.SecondaryAmmo</label>
            <IconPanel class="ammoicon2"></IconPanel>
        }

	}  
</root> 

@code {
	protected override int BuildHash()
	{
		var ammo1 = 0;
		var ammo1stash = 0;
		if ((Game.LocalPawn is Player ply) && ply.Inventory.ActiveChild is Weapon wpn ) {
			ammo1 = wpn.PrimaryAmmo;
			ammo1stash = ply.Ammo.AmmoCount(wpn.PrimaryAmmoType);
		}
		return HashCode.Combine((Game.LocalPawn as Player).Inventory.ActiveChild, ammo1, ammo1stash);
	}
}